__pycache__/
/captcha.jpg
.cache
config.ini
*.pyc
*.pyo
*.pyd
*.pip-wheel-metadata
*.egg-info
*.egg
*.log
*.pid
*.coverage
*.cache
*.env
*.env.*
*.pytest_cache
htmlcov
.pytest_cache
coverage.xml
.cache
nosetests.xml
coverage.xml
*.cover
htmlcov
.tox