__pycache__/
/captcha.jpg
.cache
config.ini
security.js
test.html

# Python virtual environment
pyvenv.cfg
share/
Scripts/
Lib/
include/


*.egg-info/
*.egg
*.log
*.pyc
*.pyo
*.pyd
*.pip-wheel-metadata
*.egg-info
*.egg
*.log
*.pid
*.coverage
*.cache
*.env
*.env.*
*.pytest_cache
htmlcov
.pytest_cache
coverage.xml
.cache
nosetests.xml